# idea ignore
.idea/
*.ipr
*.iml
*.iws
.vscode/

# temp ignore
*.log
*.cache
*.diff
*.exe
*.exe~
*.patch
*.swp
*.tmp

# system ignore
.DS_Store
Thumbs.db

# project
*.cert
*.key
tool/micro/micro
tool/micro-protoc/micro-protoc
tool/micro-gen-bts/micro-gen-bts
tool/micro-gen-mc/micro-gen-mc
tool/micro/micro-protoc/micro-protoc
tool/micro/protobuf/protoc-gen-bm/protoc-gen-bm
tool/micro/protobuf/protoc-gen-ecode/protoc-gen-ecode
tool/micro/protobuf/protoc-gen-bswagger/protoc-gen-bswagger
